<perfect-scrollbar style="max-width: 100%; max-height: 600px;">

<button (click)="checkUserInfo()">Check userInfo</button>
<pre>{{userInfo$ | async | json}}</pre>

<form class="form-inline" style="margin-bottom: 2%">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
      aria-label="Search">
</form>
<div class="row "  style="margin-bottom: 5%" >
    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12" style="margin-bottom: 5%">
        <p-galleria [images]="images" panelWidth="500" panelHeight="450" [showCaption]="true" [autoPlay]="true" (onImageClicked)="onImageClicked($event)"></p-galleria>
    </div>
    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12" style="margin-bottom: 5%;">
           <div class="row" style="margin: 0 auto">
               
            <div style="margin-right: 2%;margin-bottom: 2%">
                    <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                            <p-header>
                                <img src="Card" src="assets/images/vechical/v1.jpg">
                            </p-header>
                            <div>Price 250</div>
                            <p-footer>
                                <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                            </p-footer>
                    </p-card> 
           </div>
           <div style="margin-right: 2%;margin-bottom: 2%">
                <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                        <p-header>
                            <img src="Card" src="assets/images/vechical/v1.jpg">
                        </p-header>
                        <div>Price 250</div>
                        <p-footer>
                            <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                        </p-footer>
                </p-card> 
            </div>
            <div style="margin-right: 2%;margin-bottom: 2%">
                    <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                            <p-header>
                                <img src="Card" src="assets/images/vechical/v1.jpg">
                            </p-header>
                            <div>Price 250</div>
                            <p-footer>
                                <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                            </p-footer>
                    </p-card> 
           </div>
           <div style="margin-right: 2%;margin-bottom: 2%">
                <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                        <p-header>
                            <img src="Card" src="assets/images/vechical/v1.jpg">
                        </p-header>
                        <div>Price 250</div>
                        <p-footer>
                            <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                        </p-footer>
                </p-card> 
            </div>
            <div style="margin-right: 2%;margin-bottom: 2%">
                    <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                            <p-header>
                                <img src="Card" src="assets/images/vechical/v1.jpg">
                            </p-header>
                            <div>Price 250</div>
                            <p-footer>
                                <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                            </p-footer>
                    </p-card> 
                </div>
                <div style="margin-right: 2%;margin-bottom: 2%">
                        <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                                <p-header>
                                    <img src="Card" src="assets/images/vechical/v1.jpg">
                                </p-header>
                                <div>Price 250</div>
                                <p-footer>
                                    <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                                </p-footer>
                        </p-card> 
                    </div>
           </div>
    </div>
</div>


<div class="row "  style="margin-bottom: 5%" >
        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12" style="margin-bottom: 5%">
            <p-galleria [images]="images1" panelWidth="500" panelHeight="450" [showCaption]="true" [autoPlay]="true" (onImageClicked)="onImageClicked($event)"></p-galleria>
        </div>
        <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12" style="margin-bottom: 5%;">
               <div class="row" style="margin: 0 auto">
                   
                <div style="margin-right: 2%;margin-bottom: 2%">
                        <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                                <p-header>
                                    <img src="Card" src="assets/images/vechical/v1.jpg">
                                </p-header>
                                <div>Price 250</div>
                                <p-footer>
                                    <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                                </p-footer>
                        </p-card> 
               </div>
               <div style="margin-right: 2%;margin-bottom: 2%">
                    <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                            <p-header>
                                <img src="Card" src="assets/images/vechical/v1.jpg">
                            </p-header>
                            <div>Price 250</div>
                            <p-footer>
                                <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                            </p-footer>
                    </p-card> 
                </div>
                <div style="margin-right: 2%;margin-bottom: 2%">
                        <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                                <p-header>
                                    <img src="Card" src="assets/images/vechical/v1.jpg">
                                </p-header>
                                <div>Price 250</div>
                                <p-footer>
                                    <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                                </p-footer>
                        </p-card> 
               </div>
               <div style="margin-right: 2%;margin-bottom: 2%">
                    <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                            <p-header>
                                <img src="Card" src="assets/images/vechical/v1.jpg">
                            </p-header>
                            <div>Price 250</div>
                            <p-footer>
                                <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                            </p-footer>
                    </p-card> 
                </div>
                <div style="margin-right: 2%;margin-bottom: 2%">
                        <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                                <p-header>
                                    <img src="Card" src="assets/images/vechical/v1.jpg">
                                </p-header>
                                <div>Price 250</div>
                                <p-footer>
                                    <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                                </p-footer>
                        </p-card> 
                    </div>
                    <div style="margin-right: 2%;margin-bottom: 2%">
                            <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                                    <p-header>
                                        <img src="Card" src="assets/images/vechical/v1.jpg">
                                    </p-header>
                                    <div>Price 250</div>
                                    <p-footer>
                                        <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                        <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                                    </p-footer>
                            </p-card> 
                        </div>
               </div>
        </div>
        
    </div>
    <div class="row "  style="margin-bottom: 5%" >
        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12" style="margin-bottom: 5%">
            <p-galleria [images]="images1" panelWidth="500" panelHeight="450" [showCaption]="true" [autoPlay]="true" (onImageClicked)="onImageClicked($event)"></p-galleria>
        </div>
        <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12" style="margin-bottom: 5%;">
               <div class="row" style="margin: 0 auto">
                   
                <div style="margin-right: 2%;margin-bottom: 2%">
                        <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                                <p-header>
                                    <img src="Card" src="assets/images/vechical/v1.jpg">
                                </p-header>
                                <div>Price 250</div>
                                <p-footer>
                                    <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                                </p-footer>
                        </p-card> 
               </div>
               <div style="margin-right: 2%;margin-bottom: 2%">
                    <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                            <p-header>
                                <img src="Card" src="assets/images/vechical/v1.jpg">
                            </p-header>
                            <div>Price 250</div>
                            <p-footer>
                                <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                            </p-footer>
                    </p-card> 
                </div>
                <div style="margin-right: 2%;margin-bottom: 2%">
                        <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                                <p-header>
                                    <img src="Card" src="assets/images/vechical/v1.jpg">
                                </p-header>
                                <div>Price 250</div>
                                <p-footer>
                                    <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                                </p-footer>
                        </p-card> 
               </div>
               <div style="margin-right: 2%;margin-bottom: 2%">
                    <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                            <p-header>
                                <img src="Card" src="assets/images/vechical/v1.jpg">
                            </p-header>
                            <div>Price 250</div>
                            <p-footer>
                                <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                            </p-footer>
                    </p-card> 
                </div>
                <div style="margin-right: 2%;margin-bottom: 2%">
                        <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                                <p-header>
                                    <img src="Card" src="assets/images/vechical/v1.jpg">
                                </p-header>
                                <div>Price 250</div>
                                <p-footer>
                                    <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                                </p-footer>
                        </p-card> 
                    </div>
                    <div style="margin-right: 2%;margin-bottom: 2%">
                            <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                                    <p-header>
                                        <img src="Card" src="assets/images/vechical/v1.jpg">
                                    </p-header>
                                    <div>Price 250</div>
                                    <p-footer>
                                        <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                        <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                                    </p-footer>
                            </p-card> 
                        </div>
               </div>
        </div>
        
    </div>
    <div class="row "  style="margin-bottom: 5%" >
        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12" style="margin-bottom: 5%">
            <p-galleria [images]="images1" panelWidth="500" panelHeight="450" [showCaption]="true" [autoPlay]="true" (onImageClicked)="onImageClicked($event)"></p-galleria>
        </div>
        <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12" style="margin-bottom: 5%;">
               <div class="row" style="margin: 0 auto">
                   
                <div style="margin-right: 2%;margin-bottom: 2%">
                        <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                                <p-header>
                                    <img src="Card" src="assets/images/vechical/v1.jpg">
                                </p-header>
                                <div>Price 250</div>
                                <p-footer>
                                    <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                                </p-footer>
                        </p-card> 
               </div>
               <div style="margin-right: 2%;margin-bottom: 2%">
                    <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                            <p-header>
                                <img src="Card" src="assets/images/vechical/v1.jpg">
                            </p-header>
                            <div>Price 250</div>
                            <p-footer>
                                <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                            </p-footer>
                    </p-card> 
                </div>
                <div style="margin-right: 2%;margin-bottom: 2%">
                        <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                                <p-header>
                                    <img src="Card" src="assets/images/vechical/v1.jpg">
                                </p-header>
                                <div>Price 250</div>
                                <p-footer>
                                    <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                                </p-footer>
                        </p-card> 
               </div>
               <div style="margin-right: 2%;margin-bottom: 2%">
                    <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                            <p-header>
                                <img src="Card" src="assets/images/vechical/v1.jpg">
                            </p-header>
                            <div>Price 250</div>
                            <p-footer>
                                <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                            </p-footer>
                    </p-card> 
                </div>
                <div style="margin-right: 2%;margin-bottom: 2%">
                        <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                                <p-header>
                                    <img src="Card" src="assets/images/vechical/v1.jpg">
                                </p-header>
                                <div>Price 250</div>
                                <p-footer>
                                    <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                                </p-footer>
                        </p-card> 
                    </div>
                    <div style="margin-right: 2%;margin-bottom: 2%">
                            <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '200px',height:'250px'}" styleClass="ui-card-shadow">
                                    <p-header>
                                        <img src="Card" src="assets/images/vechical/v1.jpg">
                                    </p-header>
                                    <div>Price 250</div>
                                    <p-footer>
                                        <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                                        <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
                                    </p-footer>
                            </p-card> 
                        </div>
               </div>
        </div>
        
    </div>
</perfect-scrollbar>
